@model Recipe.Web.Application.Features.Category.CategoryListModel

@{
    ViewData["Title"] = "Categories";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Categories != null)
        {
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model != null && Model.Categories != null)
{
    <partial name="PageNavPartial" model="Model.PageResult" />
}
