@model PageQueryResult

@if (Model.Page == null)
{
    return;
}

@{
    var page = Model.Page.Value;

    var minPage = Math.Max(1, page - 2);

    var maxPage = Math.Min(page + 2, Model.TotalPages);

    var routeData = new Dictionary<string, string>
    {
        { "perpage", Model.PerPage.Value.ToString() }
    };

    if (!string.IsNullOrWhiteSpace(Model.SortBy))
    {
        routeData.Add("sortby", Model.SortBy);
        routeData.Add("sortorder", Model.SortOrder.ToString());
    }
}

<ul class="pagination">
    @if (maxPage - minPage > 4)
    {
        <li class="page-item @(page == 1 ? "disabled": "")">
            <a asp-route-page="1" asp-all-route-data="routeData" class="page-link" tabindex="@(page == 1 ? "-1" : "")" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
                <span class="visually-hidden">First</span>
            </a>
        </li>
    }
    <li class="page-item @(page == 1 ? "disabled" : "")">
        <a asp-route-page="@(page - 1)" asp-all-route-data="routeData" class="page-link" tabindex="@(page == 1 ? "-1" : "")" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
            <span class="visually-hidden">Previous</span>
        </a>
    </li>

    @for(int index=minPage;index<maxPage;index++)
    {
        <li class="page-item @(index == page ? "active" : "")">
            <a asp-route-page="@index" asp-all-route-data="routeData" class="page-link" tabindex="@(page == index ? "-1" : "")">@index<span class="visually-hidden">(current)</span></a>
        </li>
    }

    <li class="page-item @(page == Model.TotalPages ? "disabled" : "")">
        <a asp-route-page="@(page + 1)" asp-all-route-data="routeData" class="page-link" tabindex="@(page == Model.TotalPages ? "-1" : "")" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
            <span class="visually-hidden">Next</span>
        </a>
    </li>

    @if(maxPage - minPage > 4)
    {
        <li class="page-item @(page == Model.TotalPages ? "disabled": "")">
            <a asp-route-page="@Model.TotalPages" asp-all-route-data="routeData" class="page-link" tabindex="@(page == Model.TotalPages ? "-1" : "")" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
                <span class="visually-hidden">Last</span>
            </a>
        </li>
    }
</ul>